img {margin:20px auto;display:block;}
body {background:#4c72a3;position:relative;margin:20px;}
label {color:#fff;}
h1 {color:#ddd;text-align:center;}
p {color:#ddd;text-align:center;}
.btn-default {margin: 0 auto;display:block;}
.app {}