img {margin:20px auto;display:block;}
body {position:relative;}
form{margin:20px;}
h1 {text-align:center;}
p {text-align:center;}
.btn-default {margin: 0 auto;display:block;}
.label {font-size:100%;}
.steps {background:#264351;display:block;line-height:40px;height:40px;margin-bottom:20px;}
.pad {padding:0 20px;}