
$btn-default-color: #4c72a3;
$label-color: #eee;
$headings-color: #ddd;
$body-bg: #4c72a3;
$text-color: #eee;
$btn-default-border: #3b5b85;
$input-border: #3b5b85;
$dropdown-border: #3b5b85;

@import "vendor/bootstrap";

@import "styles";

